[submodule "native/cpp/llama.cpp"]
	path = native/cpp/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "native/cpp/OpenCL-Headers"]
	path = native/cpp/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "native/cpp/OpenCL-ICD-Loader"]
	path = native/cpp/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
